
:root{
    --primary-color: #333;
    --secondary-color: red;
    --section-bg-color: #eeeeee;

    /*Text style*/

    --primary-font: 'Inter', sans-serif;
    --main-text: 'Amatic SC', cursive;
    --color-dark-text: #222;
    --color-light-text: whitesmoke;
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Inter', sans-serif;
    color: var(--color-dark-text);
    overflow-x: hidden;
}

h1, h2, h3, h4, h5{
    font-family: var(--main-text);
}

a{
    text-decoration: none;
    position: relative;
}

p{
    margin:0;
    padding: 0;
}

/* ----- Navbar Style ------*/

.logo-brand{
    font-size: 28px;
    font-weight: 900;
}

.logo-point{
    color: var(--secondary-color);
}
.link-style a{
    font-size: 17px;
    font-weight: 800;
}
.link-style a:hover{
    color: black;
}

.link-style a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    background-color: red;
    left:0;
    bottom: 0;
    transition: 0.5s;
}

.link-style a:hover::after{
    width: 100%;
}

.navbar-wrap{
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    transition: all 0.3s ease-out;
}

.navbar-wrap.scroll-on{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background: var(--color-light-text);
    box-shadow: 0 0.125rem 1.75rem 0 rgb(0, 0, 0, 0.9);
    transition: all .15s ease-in-out 0s;
}

.navbar-toggler{
    border: unset;
}

.navbar-toggler:focus{
    outline: unset;
    border: unset;
    box-shadow: none;
}

/*----Home Section----*/

.home-section{
    background-color: var(--section-bg-color);
    /* height: 100vh; */
}
.home-section h1{
    font-weight: 700;
    font-size: 4.5em;
}

/*------ About Us section ----- */

.color-secundary-text{
    color: var(--secondary-color);
}

h2{
    font-size: 3em;
}

li{
    list-style: none;
}


.about-image{
    background-image: url(img/food-1050813_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

/* .book-table{
    transform: translateY(-300px) translateX(90px);
} */

.about-section .book-table{
    width: 300px;
    height: 150px;
    background-color: var(--section-bg-color);
    top: 50%;
    left: 20%;
}

/* ---- Choose Section ----- */

.choose-section{
    background-color: var(--section-bg-color);
    
}

.choose-icon{
    width: 50px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.415);
    font-size: 30px;
    border-radius: 100%;
    margin: 0 auto;
}

.card-choose-section{
    transition: all 0.5s ease;
}

.choose-section .card-choose-section:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s ease;
}

/* ----- Statistic / Parallax section ------ */

.statistic-section{
    background: linear-gradient(to bottom, #32313192, #32313192), url(img/parallax-section.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}

.statistic-section .stats-item{
    margin-top: 20vh;
    color: var(--color-light-text);
}

.statistic-section .stats-item h3{
    font-size: 55px;
}

.statistic-section .stats-item p{
    color: var(--color-light-text);
    font-size: 24px;
}

/*---- Menu Section ---*/

.menu-section .card:hover{
    box-shadow: -10px 20px 70px -20px #333;
    transition: .3s ease-in;
    cursor: pointer;
}

.link-menu h4:after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    background-color: red;
    left: 10px;;
    bottom: 0;
    transition: 0.5s;
}

.link-menu h4:hover::after{
    width: 80%;
}

.page-link{
    text-decoration: none;
    color: var(--color-dark-text);
}

.page-link:hover, .page-link:focus{
    color: var(--secondary-color);
}


/*-----Testimonials Section ----- */
.reviews-section{
    background-color: var(--section-bg-color);
    height: 95vh;
}

.reviews-section .img-reviews img{
    border-radius: 100%;
    width: 150px;
    border: 5px solid var(--color-light-text);
}

.review-quotes{
    font-size: 30px;
}

.carousel-indicators .btn-carousel{
    width: 15px;
    height: 15px;
    outline: none;
    border-radius: 100%;
    border: none;
    margin-right: 1rem;
    background-color: var(--secondary-color);
}

.carousel-indicators .btn-carousel .active{
    opacity: 1;
}

.carousel-indicators{
    bottom: -50px;
}

#events-carousel .carousel-indicators{
    bottom: -30px;
}

#events-carousel .card-body{
    background-color: var(--section-bg-color);
}
/*------ Book Table Section ----- */

.img-booking{
    background-image: url(img/booking-table.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.book-form{
    background-color: var(--section-bg-color);
    /* height: 70vh; */

}

.book-form input{
    height: 40px;
    outline: none;
    border-radius: 0;
}

.book-form textarea{
    outline: none;
    border-radius: 0;
}

.form-control:focus{
    outline: none;
    box-shadow: none;
    border-color: red;
}


/* -----Up Button -----*/
.up-btn{
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--secondary-color);
    bottom: 40px;
    right: 40px;

    text-decoration: none;
    text-align: center;
    line-height:40px;
    color: white;
    font-size: 20px;
    opacity: 0;
    transition: all .4s;
}

.up-btn.active{
    opacity: 1;
}

.up-btn:hover{
    background-color: var(--primary-color);
    color:white;
}

/*-----Modal Add Product ------*/
.modal{
    margin-top: 180px;
}


/*----footer ---- */



/*-------- Media queries --------*/
@media (max-width: 1024px){

}

@media (max-width: 991px){
    .home-section{
        padding: 6rem 0rem;
    }

    .statistic-section .stats-item{
        margin-top: 10vh;
        color: var(--color-light-text);
    }
    
    .statistic-section .stats-item h3{
        font-size: 45px;
    }
    
    .statistic-section .stats-item p{
        color: var(--color-light-text);
        font-size: 20px;
    }

}

@media (max-width: 767px){
.link-style a:hover::after{
        display: none;
    }
.home-section{
    text-align: center;
    padding-bottom: 10px;
}

.home-section h1{
    font-size: 3em; 
}

.statistic-section{
    height: 80vh;
}
.statistic-section .stats-item{
    margin-top: 5vh;
    color: var(--color-light-text);
}

.statistic-section .stats-item h3{
    font-size: 40px;
}

.statistic-section .stats-item p{
    color: var(--color-light-text);
    font-size: 18px;
}



.footer-element{
    margin-bottom: 20px;
}

}

@media (max-width: 330px){
    .home-section h1{
        font-size: 3em;
    }

}

