
:root{
    --primary-color: #333;
    --secondary-color: red;
    --section-bg-color: #eeeeee;

    /*Text style*/

    --primary-font: 'Inter', sans-serif;
    --main-text: 'Amatic SC', cursive;
    --color-dark-text: #222;
    --color-light-text: whitesmoke;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Inter', sans-serif;
    color: var(--color-dark-text);
}

a{
    text-decoration: none;
    position: relative;
}

/* ----- Navbar Style ------*/

.logo-brand{
    font-size: 28px;
    font-weight: 900;
}
.logo-point{
    color: var(--secondary-color);
}

/*.navbar a:hover:before, .navbar li:hover>a:before, .navbar .active:before {
    visibility: visible;
    width: 100%;
}*/

.link-style a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    background-color: red;
    left:0;
    bottom: 0;
    transition: 0.5s;
}

.link-style a:hover::after{
    width: 100%;
}

/*----Home Section----*/
h1, h2, h3, h4, h5{
    font-family: var(--main-text);
}

.home-section{
    background-color: var(--section-bg-color);
    /*height: 90vh;*/
    padding: 4em 4em 4em 6em;
}
.home-section h1{
    font-weight: 700;
    font-size: 5em;
}

/*------ About Us section ----- */

.color-secundary-text{
    color: var(--secondary-color);
}

h2{
    font-size: 3em;
}

li{
    list-style: none;
}

.about-container{
    height: 100vh;
}

.about-image{
    background-image: url(img/food-1050813_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

/* .book-table{
    transform: translateY(-300px) translateX(90px);
} */

.about-section .book-table{
    width: 300px;
    height: 150px;
    background-color: var(--section-bg-color);
    top: 50%;
    left: 20%;
}

/* ---- Choose Section ----- */

.choose-section{
    background-color: var(--section-bg-color);
    padding: 40px 0;
}

.choose-icon{
    width: 50px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.415);
    font-size: 30px;
    border-radius: 100%;
    margin: 0 auto;
}

/* ----- Statistic / Parallax section ------ */

.statistic-section{
    background: linear-gradient(to bottom, #32313192, #32313192), url(img/parallax-section.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}

.statistic-section h3{
    margin-top: 140px;
    color: var(--color-light-text);
    font-size: 75px;
}

.statistic-section p{
    color: var(--color-light-text);
    font-size: 24px;
}

/*---- Menu Section ---*/

#starter-menu{
    font-size: 40px;
}

#breakfast-menu{
    display: none;
}

#lunch-menu{
    display: none;
}

#dinner-menu{
    display: none;
}

.container-item .price-item{
    display: block;
    margin: 0;
    padding: 0;
}

.container-item p{
    margin: 0;
    padding: 0;
}

.page-link{
    text-decoration: none;
    color: var(--color-dark-text);
}

.page-link:hover, .page-link:focus{
    color: var(--secondary-color);
}


/*-----Testimonials Section ----- */
.reviews-section{
    background-color: var(--section-bg-color);
    height: 95vh;
}

.reviews-section .img-reviews img{
    border-radius: 100%;
    width: 150px;
    border: 5px solid var(--color-light-text);
}

.review-quotes{
    font-size: 30px;
}

.carousel-indicators .btn-carousel{
    width: 15px;
    height: 15px;
    outline: none;
    border-radius: 100%;
    border: none;
    margin-right: 1rem;
    background-color: var(--secondary-color);
}

.carousel-indicators .btn-carousel .active{
    opacity: 1;
}

.carousel-indicators{
    bottom: -50px;
}


#events-carousel .carousel-indicators{
    bottom: -30px;
}

#events-carousel .card-body{
    background-color: var(--section-bg-color);
}
/*------ Book Table Section ----- */

.booking-section{
    height: 100vh;
}

.img-booking{
    height: 70vh;
    background-image: url(img/booking-table.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.book-form{
    background-color: var(--section-bg-color);
    height: 70vh;

}

.book-form input{
    height: 40px;
    outline: none;
    border-radius: 0;
}

.book-form textarea{
    outline: none;
    border-radius: 0;
}

.form-control:focus{
    outline: none;
    box-shadow: none;
    border-color: red;
}



.up-btn{
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--secondary-color);
    bottom: 40px;
    right: 40px;

    text-decoration: none;
    text-align: center;
    line-height:40px;
    color: white;
    font-size: 20px;
}



.up-btn:hover{
    background-color: var(--primary-color);
    color:white;
}


.modal{
    margin-top: 180px;
}


/*----footer ---- */
